server {
        listen 80;
        listen 443 ssl;
        listen 5281 ssl;
        server_name chat.rcpassos.me www.chat.rcpassos.me g.chat.rcpassos.me share.chat.rcpassos.me pb.chat.rcpassos.me;

	server_tokens off;

	ssl_certificate "/etc/letsencrypt/live/chat.rcpassos.me/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/chat.rcpassos.me/privkey.pem";
        ssl_protocols TLSv1.2 TLSv1.3;

	ssl_verify_client off;

	resolver {{ angie_resolver_dns | default('10.255.0.100 10.255.0.101') }};

	location /xmpp-websocket {
	    proxy_pass https://{{ prosody_backend | default('10.255.2.27') }}:5281/xmpp-websocket;
	    proxy_http_version 1.1;
	    proxy_set_header Connection "Upgrade";
	    proxy_set_header Upgrade $http_upgrade;

	    proxy_set_header Host $host;
	    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	    proxy_set_header X-Forwarded-Proto $scheme;
	    proxy_read_timeout 900s;
	}

	location /.well-known/host-meta {
	    default_type 'application/xrd+xml';
	    add_header Access-Control-Allow-Origin '*' always;
	    alias /etc/angie/conf.d/host-meta;
	}

	location /.well-known/host-meta.json {
	    default_type 'application/jrd+json';
	    add_header Access-Control-Allow-Origin '*' always;
	    alias /etc/angie/conf.d/host-meta.json;
	}


	location / {
		proxy_pass https://{{ prosody_backend }}:5281;

		proxy_set_header Host "chat.rcpassos.me";
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_buffering off;
		tcp_nodelay on;
		}

		# TODO: add upload
		location /share {
			if ($request_method = OPTIONS) {
				add_header Access-Control-Allow-Origin '*' always;
				add_header Access-Control-Allow-Methods 'PUT, GET, OPTIONS, DELETE, HEAD';
				add_header Access-Control-Allow-Headers 'Authorization, Content-Type';
				add_header Access-Control-Max-Age 86400;
				add_header Content-Length 0;
				add_header Content-Type text/plain;
				return 204;
			}

			proxy_pass https://{{ prosody_backend }}:5281;
			proxy_set_header Host "share.chat.rcpassos.me";
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_buffering off;
			tcp_nodelay on;
			proxy_request_buffering on;
			proxy_ssl_verify off;

			client_max_body_size 21m;
			proxy_read_timeout 900s;
			proxy_send_timeout 900s;
			client_body_timeout 300s;
		}
}
