# {{ ansible_managed }}

hostname={{ biboumi_hostname }}
password={{ biboumi_password }}
xmpp_server_ip={{ biboumi_xmpp_server_ip }}
port={{ biboumi_port }}
db_name={{ biboumi_db_name }}
{% if biboumi_admin %}
admin={{ biboumi_admin }}
{% endif %}
{% if biboumi_fixed_irc_server %}
fixed_irc_server={{ biboumi_fixed_irc_server }}
{% endif %}
persistent_by_default={{ biboumi_persistent_by_default }}
realname_customization={{ biboumi_realname_customization }}
realname_from_jid={{ biboumi_realname_from_jid }}
{% if biboumi_webirc_password %}
webirc_password={{ biboumi_webirc_password }}
{% endif %}
{% if biboumi_log_file %}
log_file={{ biboumi_log_file }}
{% endif %}
log_level={{ biboumi_log_level }}
{% if biboumi_ca_file %}
ca_file={{ biboumi_ca_file }}
{% endif %}
{% if biboumi_outgoing_bind %}
outgoing_bind={{ biboumi_outgoing_bind }}
{% endif %}
identd_port={{ biboumi_identd_port }}
{% if biboumi_policy_directory %}
policy_directory={{ biboumi_policy_directory }}
{% endif %}
