{% if config_template == "docker" %}

discovery.docker "docker_scrape" {
  host             = "unix:///var/run/docker.sock"
  refresh_interval = "5s"
}

discovery.relabel "docker_scrape" {
  targets = []

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "container"
  }
}

loki.source.docker "docker_scrape" {
  host             = "unix:///var/run/docker.sock"
  targets          = discovery.docker.docker_scrape.targets
  forward_to       = [loki.write.loki.receiver]
  relabel_rules    = discovery.relabel.docker_scrape.rules
  refresh_interval = "5s"
}

{% endif %}


{% if config_template == "log-file" %}

local.file_match "local_logs" {
  path_targets = [
{%- for file in local_log_files %}
    { 
      "__path__" = "{{ file.path }}",
      "job"          = "{{ file.job }}",
      "service_name" = "{{ file.service_name }}",
    }{% if not loop.last %},{% endif %}
{%- endfor %}
  ]
  sync_period = "5s"
}

loki.source.file "log_scrape" {
  targets    = local.file_match.local_logs.targets
  // Forward to the relabel component's receiver
  forward_to = [loki.relabel.add_labels.receiver]
  
  tail_from_end = true
}

// This block attaches labels to the logs received from the source
loki.relabel "add_labels" {
  // Forward to the final Loki write component
  forward_to = [loki.write.loki.receiver]

  rule {
    target_label = "job"
    replacement  = "{{ ansible_hostname | default('log-scraper') }}"
  }

}

{% endif %}

{% if enable_systemd_logs %}

{%- for svc in systemd_logs_service %}
loki.source.journal "journal_{{ svc.name }}" {
    forward_to = [loki.relabel.systemd_labels.receiver]
    matches    = "_SYSTEMD_UNIT={{ svc.service }}"
    labels     = {
        unit    = "{{ svc.service }}",
        service_name = "{{ svc.name }}",
    }
}
{% endfor %}

loki.relabel "systemd_labels" {
    forward_to = [loki.write.loki.receiver]

    rule {
        target_label = "job"
        replacement  = "{{ ansible_hostname | default('log-scraper') }}"
    }

}

{% endif %}

loki.write "loki" {
    endpoint {
        url = "{{ loki_base_url }}/loki/api/v1/push"
    }
    external_labels = {
{%- for key, value in external_labels.items() %}
    "{{ key }}" = "{{ value }}"{% if not loop.last %},{% endif %}
{%- endfor %}
    }
}
