services:
  alloy:
    image: docker.io/grafana/alloy:latest
    command:  run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
{% if enable_port %}
    ports:
      - 12345:12345
{% endif %}
    volumes:
      - ./alloy-config.yml:/etc/alloy/config.alloy:ro
{% if enable_docker_sock %}
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
{% if config_template == "log-file" %}
{%- for file in local_log_files %}
      - {{ file.path }}:{{ file.path }}:ro
{%- endfor %}
{% endif %}
{% if enable_systemd_logs %}

      - /var/log/journal:/var/log/journal:ro
      - /run/log/journal:/run/log/journal:ro
      - /etc/machine-id:/etc/machine-id:ro
{% endif %}
